@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700;900&display=swap");

@tailwind base {
}
@tailwind components {
}
@tailwind utilities {
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #e1ddd2;
}

.bg {
  background-image: url("../img/Big-G.svg");
}

.btn-req {
  background-color: #8dcc7b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
