<template>
  <div
    class="bg bg-auto bg-top bg-no-repeat block absolute lg:bg-top-right lg:bg-auto lg:pb-96 lg:h-fit"
  >
    <!-- Title row -->
    <div class="px-4 lg:px-28 pt-20">
      <div class="border-b-2 border-black">
        <img class="float-right" src="../assets/img/Small-G.svg" />
        <h1 class="text-3xl lg:text-4xl font-bold">Meet our friends</h1>
      </div>
    </div>
    <!-- Gallery -->
    <div class="px-4 pt-6 lg:px-28">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
        <div v-for="(user, i) in users" :key="i">
          <UserCard
            :no="i"
            :id="user.id"
            :name="user.fields.Name"
            :role="user.fields.Role"
            :bio="user.fields.Bio"
            :img="user.fields['Profile image'][0].url"
            :linkedin="user.fields['Linkedin url']"
            :twitter="user.fields['Twitter url']"
            :isRequestable="user.fields['Is requestable']"
          ></UserCard>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserCard from "@/components/UserCard.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    UserCard,
  },

  data() {
    return {
      users: [],
      api_token: "keyEC9F0usYdVoWzg", // Move to config
    };
  },

  created() {
    this.getLists();
  },

  methods: {
    getLists() {
      return axios
        .get(this.getApiURL("lists"))
        .then((response) => (this.users = response.data.records));
    },
    getApiURL(model) {
      switch (model) {
        case "lists":
          return (
            "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/People?api_key=" +
            this.api_token
          );
        case "friendRequest":
          return "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request";
        default:
          return "";
      }
    },
  },
};
</script>
