<template>
  <div
    class="bg bg-auto bg-top bg-no-repeat block absolute lg:bg-top-right lg:bg-auto pb-20 lg:pb-96 lg:h-fit"
  >
    <!-- Title row -->
    <div class="px-4 lg:px-28 pt-20">
      <div>
        <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-16">
          <h1 class="text-3xl lg:text-4xl font-bold">{{ user.fields.Name }}</h1>

          <!-- Desktop  -->
          <p class="font-bold text-sm-2 text-gray pt-5 lg:block hidden">
            {{ user.fields.Role }}
          </p>
          <div class="text-right">
            <button
              v-if="isRequestable"
              :disabled="isRequestSent"
              :class="
                `lg:inline-block hidden px-5 py-2 border-black rounded-full ${
                  isRequestSent ? 'bg-gray' : ' bg-green border '
                }`
              "
              @click="storeRow"
            >
              {{ isRequestSent ? "Request sent" : "Send request" }}
            </button>
          </div>
        </div>
        <div class="border-b-2 border-black"></div>

        <!-- Mobile -->
        <p class="font-bold text-sm-2 text-gray pt-2 lg:pt-5 block lg:hidden">
          {{ user.fields.Role }}
        </p>
        <button
          v-if="isRequestable"
          :disabled="isRequestSent"
          :class="
            `inline-block lg:hidden px-5 py-2 mt-4 border-black rounded-full ${
              isRequestSent ? 'bg-gray' : ' bg-green border '
            }`
          "
          @click="storeRow"
        >
          {{ isRequestSent ? "Request sent" : "Send request" }}
        </button>
      </div>
    </div>

    <!-- Details row -->
    <div class="px-4 lg:px-28">
      <div
        class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-16 justify-evenly pt-10"
      >
        <div>
          <img
            class="lg:h-390 h-462 w-full object-cover shadow-lg rounded-md z-10"
            :src="user.fields['Profile image'][0].url"
          />
        </div>
        <div class="col-span-2">
          <div class="grid grid-cols-1 lg:grid-cols-2 lg:pt-0 pt-8">
            <div class="relative">
              <img
                class="lg:absolute lg:-left-8"
                src="../assets/img/Quote-1.svg"
              />
              <h3 class="text-lg font-bold px-6 lg:px-0">
                {{ user.fields.Quote }}
              </h3>
              <img
                class="absolute bottom-0 right-0"
                src="../assets/img/Quote-2.svg"
              />
            </div>
          </div>
          <p class="lg:pt-12 pt-8 text-base">{{ user.fields.Bio }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { useRoute } from "vue-router";
import axios from "axios";

export default {
  name: "User",

  data() {
    return {
      api_token: "keyEC9F0usYdVoWzg", // Move to config

      loggedUser: {
        name: "Francesca",
      },

      userId: "",
      user: {},

      isRequestable: false,
      isRequestSent: false,
    };
  },

  created() {
    const route = useRoute();
    this.userId = route.params.id;
    this.getUserData();
  },

  methods: {
    getUserData() {
      axios.get(this.getApiURL("user")).then((response) => {
        this.user = response.data;
        this.isRequestable = !!this.user.fields["Is requestable"];
      });
    },

    storeRow() {
      const bodyParameters = {
        records: [
          {
            fields: {
              From: this.loggedUser.name,
              To: [this.userId],
            },
          },
        ],
      };

      if (this.isRequestable) {
        axios
          .post(this.getApiURL("friendRequest"), bodyParameters)
          .then(() => (this.isRequestSent = true))
          .catch((e) =>
            console.log(
              "An error has occurred while processing the friend request. ",
              e
            )
          );
      }
    },

    getApiURL(model) {
      switch (model) {
        case "user":
          return (
            "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/People/" +
            this.userId +
            "?api_key=" +
            this.api_token
          );
        case "friendRequest":
          return (
            "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request?api_key=" +
            this.api_token
          );
        default:
          return "";
      }
    },
  },
};
</script>
