<template>
  <div
    class="pt-10 pb-14"
    :class="`${hasBorder ? 'border-b border-gray' : ''}`"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="relative">
        <!-- isRequestable indicator | asset url is computed based on value -->
        <img class="absolute left-3 top-3" :src="requestableAsset" />
        <router-link :to="{ name: 'user', params: { id: id } }">
          <img
            class="lg:h-244 lg:w-190 h-260 w-full object-cover shadow-lg rounded-md"
            :src="img"
          />
        </router-link>
      </div>
      <div class="relative lg:h-244">
        <h1 class="font-bold text-xl">
          <router-link :to="{ name: 'user', params: { id: id } }">
            {{ name }}
          </router-link>
          <!-- Mobile Social handles -->
          <span class="visible lg:invisible float-right pt-1">
            <a :href="twitter"
              ><img
                class="float-right mr-2 inline-block"
                src="../assets/img/Twitter.svg"
            /></a>
            <a :href="linkedin"
              ><img
                class="float-right mr-2 inline-block"
                src="../assets/img/Linkedin.svg"
            /></a>
          </span>
        </h1>
        <p class="font-bold text-sm text-gray">{{ role }}</p>
        <p class="text-xs py-2">
          {{ shortBio }}
        </p>
        <!-- Desktop Social handles -->
        <div class="lg:visible invisible inline-block absolute bottom-0">
          <a :href="twitter"
            ><img
              class="float-right mr-2 inline-block"
              src="../assets/img/Twitter.svg"
          /></a>
          <a :href="linkedin"
            ><img
              class="float-right mr-2 inline-block"
              src="../assets/img/Linkedin.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserCard",
  props: {
    no: Number,
    id: String,
    name: String,
    role: String,
    bio: String,
    img: String,
    linkedin: String,
    twitter: String,
    isRequestable: Boolean,
  },
  computed: {
    shortBio() {
      const substring = this.bio.substring(0, 155);
      return `${substring.substring(0, substring.lastIndexOf(" "))}...`;
    },
    requestableAsset() {
      return require(`../assets/img/${this.isRequestable ? "Yes" : "No"}.svg`);
    },
    hasBorder() {
      // TODO (Future improvement): Additional logic to separately handle desktop/mobile
      return this.no < 3;
    },
  },
};
</script>
